<!DOCTYPE html>
<html>
<head>
  <title>Weather Tunes</title>

  <style>
      h1{
        display: flex;
        justify-content: center;
      }

      p{
        display: flex;
        justify-content: center;
      }

      form{
        display: flex;
        justify-content: center;
      }
    </style>



</head>
<body>
<div>
<h1>Weather Tunes</h1>
</div>

<div>
<p>Enter Your City and Enjoy a Playlist That Matches Your City's Current Weather</p>
</div>
<div>
<form action="/process_city" method="post">
<label for="city"></label>
<input id="city" name="city_input" text="text">

<button>Find Music</button>

</div>

</body>


</html>
