<!DOCTYPE html>
<html>
  <head>
    <title>Weather Tunes</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <style>
      .home{
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-style: normal;
        text-decoration: none;
      }
    </style>
  </head>

  <body>
  <a class="home" href="/">Home</a>
    <%= yield %>
  </body>
</html>
